---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url"

import jquery from "jquery/dist/jquery.min.js?url";
import jqueryui from "jquery-ui/dist/jquery-ui.min.js?url";

import '../styles/secondary.css';

import { Font } from 'astro:assets';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

const { title, icon, color, description, keywords, author, additionalContent, contact } = Astro.props;
---

<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en" data-bs-theme="dark">
  <head>
      <title>{title}</title> 
      <script is:inline src="/scripts/navbar.js"></script>
      {icon ?
        <Fragment>
          <link rel="icon" href={`/media/images/${icon}`}>
          <meta property="og:image" content={`/media/images/${icon}`}>
          <meta name="twitter:image" content={`/media/images/${icon}`}>
        </Fragment>
        :
        <Fragment>
          <link rel="shortcut icon" type="image/png" href="/favicon/favicon.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" href="/favicon/favicon.png">
          <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png">
          <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
          <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <meta property="og:image" content="/favicon/favicon.png">
          <meta name="twitter:image" content="/favicon/favicon.png">
        </Fragment>
      }    
      <link rel="manifest" href="/favicon/site.webmanifest">
      <Font cssVariable="--font-title" preload/>
      <meta charset="UTF-8">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="title" content={title}>
      <meta name="description" content={description}>
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@StephanysTreasures">
      <meta name="twitter:creator" content="@StephanysTreasures">
      <meta name="twitter:title" content={title}>
      <meta name="twitter:description" content={description}>
      {keywords && (
        <meta name="keywords" content={keywords}>
      )}
      {author && (
        <meta name="author" content={author}>
      )}
      <meta property="og:title" content={title}>
      <meta property="og:description" content={description}>
      <meta property="og:site_name" content="Stephany's Treasures">
      {color ? (
        <meta name="theme-color" content={color}>
      ) : (
        <meta name="theme-color" content="#212529">
      )}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <Fragment set:html={additionalContent} />
  </head>
  <body class="fixedtopnavimage mx-ssm-4 mx-lg-5">
    <Fragment>  
      <div class="container px-0">
        <Navbar />
        <slot/>
        <Footer />
      </div>
    </Fragment>
    <Fragment>
      <script src={bootstrap}></script>
      <script src={jquery}></script>
      <script src={jqueryui}></script>

      <script src="/scripts/alert-1.js" is:inline></script>

      {contact && (
        <script is:inline src="/scripts/contact.js"></script>
      )}

      <script src="/scripts/enabler.js" is:inline></script>
      <script is:inline src="/scripts/cart.js" type="module"></script>
    </Fragment>
  </body>
</html>